<div>
    <h1>Welcome to the Login Page</h1>
    Username:<br />   <input type="text" placeholder="Enter username/phone " id="Lusername" /><br />
    Password:<br /><input type="password" placeholder="minimum 8 digits " id="Lpassword" /><br /><br />

    <button class="btn btn-primary" ng-click="login()">Login</button>
    <p>Not yet registered?</p>
    <button class="btn btn-primary"ng-click="registerhere()">Register here</button><br /><br />
    <button class="btn btn-primary"ng-click="home()">Back to home page</button>
</div>